<form action="">
<div class="input-group">		  		
	<select ng-model="animal.type" ng-init="animal.type = 'dragon'" ng-options="select as label for value in array">
		<option value="predator">Predator</option>
		<option value="herbivore">Herbivore</option>
		<option value="dragon" ng-selected="true">Snake Gorihich</option>
	</select>
</div>

<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Name" ng-model="animal.name">
</div>

<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Kind" ng-model="animal.kind">
</div>
<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Size" ng-model="animal.size">
</div>
<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Voice" ng-model="animal.voice">
</div>
<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Voice period" ng-model="animal.voicePeriod">
</div>
<div class="input-group">		  		
	<input type="text" class="form-control" placeholder="Eat period" ng-model="animal.eatPeriod">
</div>

<button type="submit" class="btn btn-default" ng-click="addAnimal(animal)">Submit</button>
</form>
